---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch.starknet.l3
  resources:
  - madarachains
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch.starknet.l3
  resources:
  - madarachains/finalizers
  verbs:
  - update
- apiGroups:
  - batch.starknet.l3
  resources:
  - madarachains/status
  verbs:
  - get
  - patch
  - update
